<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h2>API INFO</h2>


<p>To display the contents of the server folder, just type the server address.
    <br>
    <br> To display information about a specific file, type its index in the following format:
    <br><b>/file=INDEX</b> (<i>INDEX must be positive integer</i>)
    <br>
    <br> To display information about a specific word, type it in the following format:
    <br><b>/word=WORD</b> (<i>WORD must be in English or Russian</i>)
    <br>
    <br> The API works with <i>txt, docx, html</i>.
    <br> To display files of a specific format, type the desired extension in the following format:
    <br> <b>/ext=txt</b> or <b>/ext=docx</b> or <b>/ext=html</b></p>

</body>

</html>